.start {
  display: flex;
  flex-direction: row;
}

img {
  padding: 5px;
  border-radius: 6px;
  height: 300px;
  width: 300px;
}

.text {
  text-align: center;
}

.page-header {
  padding: 40px 20px;
  background-color: #f95827;
  color: #fff;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 30px;

}

.menu-item {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  object-fit: cover;
   /* height: 300px;
  width: 400px; */
  margin-bottom: 50px;
 

}




.menu-item:hover {
  transform: translateY(-8px);
  transition-duration: 0.3ms;
}

.menu-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.menu-item h3 {
  color: #f4ac69;
  margin-bottom: 8px;
  font-size: xx-large;
}

.menu-item p {
  font-size: 20px;
  margin-bottom: 12px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #f95827;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background: rgb(141, 201, 0);
}

.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-size: medium;
  color: white;
  margin-top: 60px;
}
.footer p {
  text-align: center;
}
.title {
  text-align: center;
}

.opening {
  display: flex;
  flex-direction: row;
  background-color: #f95827;
  justify-content: end;
  align-items: start;
  list-style: none;
  gap: 25px;
}

.form {
  border: 1px solid black;
  height: 320px;
  width: 300px;
  text-align: center;
  align-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;

  list-style: none;
  text-decoration: none;
  gap: 30px;
  justify-content: end;
  align-items: end;
  height: 50px;
}
nav img {
  position: relative;
  height: 50px;
  left: 20px;
  width: 50px;
  top: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 550px;
  margin-bottom: 10px;
}
.menu a {
  text-decoration: none;
  color: black;
  font-size: medium;
}
.menu p {
  font-size: 30px;
}

.btn a {
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(55, 54, 53);
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  top: 15px;
  right: 20px;
  gap: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 160px;
  margin-bottom: 10px;
  font-size: larger;
}

.contact-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}


.type {
  position: relative;
  left: 160px;
  margin-bottom: 10px;
}

.image {
  border-radius: 50%;
}

.order {
  background: rgb(78, 236, 78);
  color: white;
  padding: 50px;
  border-radius: 6px;
  text-decoration: none;
}

.order h2 {
  text-align: center;
}
.order p {
  text-align: center;
}
.bottom{
  position: relative;
  top: 100px;
  height: 200px;width: 100%;
}

.about{
  position: relative;
  left: 600px;
}

